/*

FONT SIZE(px) ==> 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 48 / 60 / 72 / 96 / 128 /
Line Height(px)=> 16 / 20 / 24 / 28 / 28 / 32 / 36 / 40 / 1 / 1  / 1  /  1 /   1 /


PADDING (px) MARGIN AND SPACING ==> 1 / 2 TO 20 (gap 2) / 24 TO 48 (gap 4) / 56 / 64 / 80 / 96 / 112 / 128 / 144 / 160 / 176 / 192 / 208 /     224 / 240 / 256 / 288 / 320 / 384

*/

/* ********************************** */
/* HEADER */
/* ********************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 3.6rem;
  background-color: #fdf2e9;
  /* height: 9.6rem; */
}

.header > img {
  height: 2rem;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 5.5rem;

  list-style: none;
  font-size: 1.8rem;
}

.header-nav-links:link,
.header-nav-links:visited {
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}

.header-nav-links:hover,
.header-nav-links:active {
  color: #a65a19;
}

.mobile-nav {
  display: none;
}

.mobile-nav-icons {
  font-size: 5rem;
  color: #333;
  display: none;
  cursor: pointer;
}

/* STICKY NAV */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ********************************** */
/* HERO SECTION */
/* ********************************** */

.hero-sec {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero-left > h1 {
  margin-bottom: 5.5rem;
}

.hero-left > p {
  font-size: 2.3rem;
  line-height: 1.3;
  margin-bottom: 5rem;
}

.hero-left-footer {
  display: flex;
  align-items: center;
  margin-top: 13rem;
}

.hero-left-footer-imgs {
  display: flex;
}
.hero-left-footer-imgs img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-right: -1.2rem;
  border: 2px solid #fff;
}

.hero-left-footer-imgs img:last-child {
  margin-right: 0;
}

.hero-left-footer-imgs + p {
  font-size: 1.9rem;
  font-weight: 500;
  color: #414141;
  margin-left: 1.5rem;
}

.hero-left-footer-imgs + p > span {
  color: #cf711f;
}

.hero-right img {
  width: 100%;
}

/* ********************************** */
/* FEATURED IN SECTION */
/* ********************************** */

.featured-in-sec {
  padding: 4.8rem 0;
}

.featured-in-sec > p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #777;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.featured-in-img-conatiner {
  gap: 4.8rem;
}

.featured-in-img-conatiner img {
  width: 100%;
  filter: brightness(0);
  opacity: 0.5;
  justify-self: center;
}

.featured-in-img-conatiner img:nth-child(even) {
  width: 50%;
}

/* ********************************** */
/* HOW IT WORKS SECTION */
/* ********************************** */

.how-it-works-sec {
  padding: 4.8rem 0 9.6rem 0;
}

.steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.6rem;
  align-items: center;
}

.step-no {
  font-size: 9rem;
  color: #717171;
  font-weight: 600;
  opacity: 0.3;
}

.step-text {
  font-size: 1.9rem;
  line-height: 1.7;
  width: 80%;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img-box img {
  width: 40%;
  align-self: center;
}

/* ********************************** */
/* MEALS SECTION */
/* ********************************** */

.meals-sec {
  padding: 9.6rem 0;
}

.meals-header {
  margin-bottom: 5rem;
}

.card {
  padding-bottom: 2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-2%);
}

.card-text-box {
  padding: 2rem 4rem;
}

.meal-type {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  background-color: #51cf66;
  font-size: 1.2rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 1rem;
  margin: 2rem 0 1rem 0;
}

.meal-type-paleo {
  margin-left: 1rem;
  background-color: #ffd43b;
}

.card-list li {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.card-list li:not(last-child) {
  margin-bottom: 2rem;
}

.card-img-box img {
  width: 100%;
  /* border-radius: 1rem; */
}

.list-card .tertiary-heading {
  font-size: 3.4rem;
}

.list-card-list {
  margin-top: 4rem;
  font-size: 2.3rem;
}

.list-card-list li:not(last-child) {
  margin-bottom: 2rem;
}

.list-card-list li {
  display: flex;
  gap: 1rem;
}

.meals-sec ion-icon {
  color: #cf711f;
}

.meals-footer {
  margin-top: 5rem;
  font-size: 2rem;
}

.meals-footer a:link,
.meals-footer a:visited {
  display: inline-block;
  color: #cf711f;
  border-bottom: 2px solid #cf711f;
  transition: all 0.3s;
}

.meals-footer a:hover,
.meals-footer a:active {
  border-bottom: 2px solid transparent;
}

/* ********************************** */
/* TESTIMONIAL SECTION */
/* ********************************** */

.testimonial-sec {
  background-color: #fdf2e9;
  padding: 4rem 0;

  display: grid;
  grid-template-columns: 55fr 45fr;
  gap: 3rem;
}

.testimonial-text-box {
  padding: 6rem;
}

.testimonial-card-container {
  margin-top: 8rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7rem;
}

.testimonial-cards img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.testimonials {
  margin-top: 2rem;
  font-size: 2rem;
  color: #616161;
  line-height: 1.7;
}

.testimonial-author {
  font-size: 2rem;
  margin-top: 2rem;
  color: #616161;
}

.testimonial-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.7rem;
  padding: 2rem;
}

.testimonial-gallery figure {
  overflow: hidden;
}

.testimonial-gallery img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.testimonial-gallery img:hover {
  transform: scale(1.2);
}

/* ********************************** */
/* PRICING SECTION */
/* ********************************** */

.pricing-sec {
  padding: 9.6rem 0;
}

.pricing-sec > div:nth-child(2) {
  margin-top: 8rem;
  gap: 0rem;
}

.pricing-card {
  background-color: #fdf2e9;
  justify-self: center;
  width: 70%;
  padding: 4rem;
  border-radius: 1rem;

  position: relative;
  overflow: hidden;
}

.pricing-card .subheading {
  display: block;
  text-align: center;
}

.price {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.price span {
  font-size: 3rem;
  margin-right: 1rem;
  font-weight: 500;
}

.price + p {
  font-size: 2rem;
  color: #8b8787;
  text-align: center;
}

.pricing-card-list {
  margin-top: 4rem;
  color: #8b8787;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 3rem;
}

.pricing-card-list > li {
  font-size: 2.2rem;

  display: flex;
  gap: 1rem;
}

.pricing-sec ion-icon {
  color: #cf711f;
}

.pricing-card-btn {
  text-align: center;
  margin-top: 5rem;
}

.starter-card {
  justify-self: end;
  background-color: #fff;
  border: 2px solid #fdf2e9;
}

.complete-card::after {
  content: "Best value";
  text-transform: uppercase;
  background-color: #ffd43b;
  padding: 0.8rem 7rem;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 100;

  position: absolute;
  top: 4rem;
  right: -5rem;

  transform: rotate(45deg);
}

.pricing-sec > footer {
  margin-top: 5rem;
  font-size: 1.7rem;
  color: #8b8787;
}

/* ********************************** */
/* PRICE FEATURE SECTION */
/* ********************************** */

.price-feature-sec {
  padding: 2rem 0 9.6rem 0;
}

.price-feature-card ion-icon {
  height: 4rem;
  width: 4rem;
  color: #cf711f;
  margin-bottom: 2rem;
  background-color: #fdf2e9;
  padding: 2rem;
  border-radius: 50%;
}

.price-feature-card-subheading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.price-feature-card-text {
  font-size: 2.1rem;
  line-height: 1.8;
  color: #333;
}

/* ********************************** */
/* FORM SECTION */
/* ********************************** */

.form-sec {
  padding: 9.6rem 1.2rem;
}

.form-sec > .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 1.5rem;
  overflow: hidden;
}

.form-text-box {
  padding: 10rem 4rem;
}

.form-heading {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.form-text {
  font-size: 2rem;
  margin-bottom: 4rem;
  line-height: 1.7;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 2.4rem;
}

.form div label {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #45260a;
  margin-bottom: 1.3rem;
}

.form input,
.form select {
  padding: 1.7rem;
  border-radius: 1rem;
  border: none;
  width: 100%;
  font-family: inherit;
  color: #333;
  font-size: 2rem;
}

.form input::placeholder {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: inherit;
}

.form option {
  font-size: 1.9rem;
}

.form-btn {
  align-self: center;
}

.form-btn  {
  display: block;
  padding: 1rem 3.2rem;
  background-color: #45260a;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 700;
  /* transform: translateY(35%); */
  border-radius: 1rem;
  text-align: center;
  transition: all 0.3s;
  align-self: self-end;
}

.form-btn:hover {
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.form-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}



/* ********************************** */
/* FOOTER SECTION */
/* ********************************** */

.footer-sec {
  padding: 9.6rem 0;
  color: #717171;
}

.footer-sec > .container {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}


.footer-img-box > a > img {
  width: 100%;
}

.social-icon-container {
  margin-top: 2.5rem;
  font-size: 3rem;
  display: flex;
  gap: 3rem;
  margin-bottom: 6rem;
}


.social-icon-container + p {
  font-size: 1.4rem;
  line-height: 1.7;
}

.footer-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #717171;
}

.footer-address {
  justify-self: center;
}

.contact {
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 2rem;


  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.contact > p:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact > p:last-child > a {
  color: #717171;
}


.footer-heading + ul {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2.5rem;
}