* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


.container {
    margin: 0 auto;
    width: 1200px;
}

header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./hero.jpg);
    background-size: cover;
}


/* NAVIGATION */

nav {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
}

.head__bottom {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

h1 {
    font-size: 55px;
    margin-bottom: 32px;
    width: 50%;
    font-weight: 900;
}

p {
    font-size: 20px;
    margin-bottom: 48px;
    width: 50%;
    line-height: 1.5;
}


.btn:link,
.btn:visited {
    text-decoration: none;
    background-color: #ff922b;
    padding: 16px 32px;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
}