<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>ACCORDIAN</title>
    <link rel="stylesheet" href="style.css" />
    <!-- SCRIPT -->
    
  </head>
  <body>
    <div class="accordian">
        <!-- QUESTION  -->
      <div class="question">
        <!-- QUESTION 1 -->
          <span class="ques-num">01</span>
          <h3>How long do I have to return my chair?</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="accordian-icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"
            />
          </svg>
        <!-- ANSWER 1 -->
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            delectus alias itaque, impedit ipsa voluptates molestias enim
            molestiae at? Recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, minus!
          </p>
          <ul class="bullet-points">
            <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet. Lorem, ipsum.</li>
            <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid?</li>
          </ul>
        </div>
      </div>
      <!-- QUESTION -->
      <div class="question">
        <!-- QUESTION 1 -->
          <span class="ques-num">02</span>
          <h3>How long do I have to return my chair?</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="accordian-icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"
            />
          </svg>
        <!-- ANSWER 1 -->
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            delectus alias itaque, impedit ipsa voluptates molestias enim
            molestiae at? Recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, minus!
          </p>
          <ul class="bullet-points">
            <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet. Lorem, ipsum.</li>
            <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid?</li>
          </ul>
        </div>
      </div>
      <!-- QUESTION -->
      <div class="question">
        <!-- QUESTION 1 -->
          <span class="ques-num">03</span>
          <h3>How long do I have to return my chair?</h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="accordian-icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"
            />
          </svg>
        <!-- ANSWER 1 -->
        <div class="answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            delectus alias itaque, impedit ipsa voluptates molestias enim
            molestiae at? Recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, minus!
          </p>
          <ul class="bullet-points">
            <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</li>
            <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet. Lorem, ipsum.</li>
            <li>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid?</li>
          </ul>
        </div>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
